<div class="w-3/5 mx-auto pt-4">
  <%= render 'carts/cart_header' %>
  <% if @cart_items.any? %>
    <div id="cart_items_container">
      <% @cart_items.each do |cart_item| %>
        <%= render 'cart_items/cart_item', cart_item: cart_item %>
      <% end %>
      <%= render 'carts/summary' %>
      <div class="mt-5 bg-teal-400 text-white px-4 py-2 rounded-lg text-center">
        <%= button_to "Оформить", clear_cart_path, 
        method: :delete, 
        class: "w-full bg-transparent border-none text-white font-bold cursor-pointer" %>
      </div>
    </div>
  <% else %>
    <%= render 'carts/empty_cart' %>
  <% end %>
</div>
